@mixin breakpoint($size) {
  @if $size == sm-only {
    @media (max-width: 599px) {
      @content;
    }
  } @else if $size == md {
    @media (min-width: 600px) {
      @content;
    }
  } @else if $size == lg {
    @media (min-width: 900px) {
      @content;
    }
  } @else if $size == xl {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $size == xxl {
    @media (min-width: 1800px) {
      @content;
    }
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;

  &:focus {
    outline: thin dotted;
  }
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  padding: 5rem 0 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer img {
  margin-left: 0.5rem;
}

footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 1rem 0 0;
  line-height: 1.15;
  font-size: 2rem;

  @include breakpoint(md) {
    font-size: 3.5rem;
  }
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

code {
  margin: 0 1rem;
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 90vw;
}

.card {
  border-radius: 10px;
  border: 1px solid #eaeaea;
  color: inherit;
  flex-basis: 47%;
  margin: 1rem auto;
  max-width: 100%;
  padding: 1.5rem;
  text-align: left;
  text-decoration: none;
  transition: color 0.15s ease, border-color 0.15s ease;
  word-break: break-word;
}

.card:hover,
.card:focus,
.card:active {
  border-color: #0070f3;
}

a:hover,
a:focus {
  color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.navigation {
  &,
  ul,
  li,
  a {
    display: inline-block;
  }

  a {
    padding: 1rem 3rem;
    border: 1px solid;
    margin-right: 1rem;
  }
}

.back-to-top {
  background: white;
  border: 1px solid;
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
